<h1>Lists of lists</h1>


<% @lists.each do |list| %>
  <h2><%= link_to list.name, list_path(list) %></h2>

  <ul>
    <% list.bookmarks.each do |bookmark| %>
      <li><%= bookmark.movie.title %></li>
    <% end %>
  </ul>
<% end %>




<%= link_to "Add new list", new_list_path %>
